#
# D8G Init
# diphons
#

# Import profiles

on init
    # Nothing

on post-fs
    # Nothing

on boot
    # Nothing

on property:dev.bootcomplete=1

    # Allow permissions
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chown system system /sys/class/power_supply/battery/constant_charge_current_max

    chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod system system /sys/class/kgsl/kgsl-3d0/devfreq/governor

    chmod system system /sys/class/power_supply/battery/constant_charge_current_max
	write /sys/class/power_supply/battery/constant_charge_current_max 2800000

    chmod system system /sys/class/thermal/thermal_message/sconfig

    # Runtime FS tuning: as we have init boottime setting and kernel patch setting
    # default readahead to 2048KB. We should adjust the setting upon boot_complete
    # for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sdb/queue/read_ahead_kb 128
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdb/queue/iostats 1
    write /sys/block/sdc/queue/read_ahead_kb 128
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/sdc/queue/iostats 1
    write /sys/block/sdd/queue/read_ahead_kb 128
    write /sys/block/sdd/queue/nr_requests 128
    write /sys/block/sdd/queue/iostats 1
    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sdf/queue/read_ahead_kb 128
    write /sys/block/sdf/queue/nr_requests 128
    write /sys/block/sdf/queue/iostats 1
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128

    # CPU MIN MAX
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 825600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2956800

    chmod 0755 /sbin/d8ginit
    chmod 0755 /vendor/etc/d8g/d8ginit

    setprop d8ginit.code 1
    exec u:r:magisk:s0 root root -- /sbin/d8ginit
    exec u:r:magisk:s0 root root -- /vendor/etc/d8g/d8ginit

