# Charger Max
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Allow permissions
    chown system system /sys/class/power_supply/battery/constant_charge_current_max
	chmod 666 /sys/class/power_supply/battery/constant_charge_current_max

# Default 2800
on property:persist.charger.profile=0
	exec u:r:magisk:s0 root root -- /sbin/dc
	exec u:r:magisk:s0 root root -- /vendor/etc/Parallax/dc

# 3000 
on property:persist.charger.profile=1
	exec u:r:magisk:s0 root root -- /sbin/dc
	exec u:r:magisk:s0 root root -- /vendor/etc/Parallax/dc

# 3300
on property:persist.charger.profile=2
	exec u:r:magisk:s0 root root -- /sbin/dc
	exec u:r:magisk:s0 root root -- /vendor/etc/Parallax/dc

# 1200 Game with Charger
on property:persist.charger.profile=3
	exec u:r:magisk:s0 root root -- /sbin/dc
	exec u:r:magisk:s0 root root -- /vendor/etc/Parallax/dc

# 1800 Game with Charger
on property:persist.charger.profile=4
	exec u:r:magisk:s0 root root -- /sbin/dc
	exec u:r:magisk:s0 root root -- /vendor/etc/Parallax/dc