# PUBG HDR Extreme
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Allow permissions

# Patching PUBG
on property:persist.pubg.profile=0
	exec u:r:magisk:s0 root root -- /sbin/pubg
	exec u:r:magisk:s0 root root -- /vendor/etc/d8g/pubg
